<div class="jumbotron">
    <h1>Welcome to the Twitter Clone</h1>
</div>

<h3><%= link_to 'New Tweet', new_tweet_path %></h3>

<h2>See what people are saying:</h2>

<div class="container-fluid">
    <div class="row">
        <% @tweets.each_with_index do |tweet, i| %>
            <div class="col-sm-3 well">
                <h3><%= link_to tweet.user.username, tweet.user %></h3>
                <p><%= tweet.message %></p>
                <p>Likes: <%= tweet.likes.length %></p>
                
                <% if current_user.likes.where(tweet_id: tweet.id).any? %>
                    <%= link_to 'Unlike', like_path(id: current_user.likes.find_by(tweet_id: tweet.id)), method: :delete %>
                <% else %>
                    <%= link_to 'Like Tweet', likes_path(tweet_id: tweet.id), method: :post %>
                <% end %>
                
                <p><%= link_to 'Show Tweet', tweet %></p>
            </div>
            <% if ((i+1)%4) == 0 %>
                </div>
                <div class="row">
            <% end %>
        <% end %>
    </div>
</div>